# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtualenv
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Home Assistant local dev
config/
.storage/
